#main_with_menu {
  display: grid;
  grid-template-columns: 270px 1fr;
}
.menu {
  width: 250px;
  margin: 0;
  border-right: 1px solid gray;
  background-color: gray;
  padding: 10px;
}
#menu_1,
#menu_2,
#menu_3,
#menu_4 {
  display: block;
  margin: 5px;
}
